.body{
  background-color: black;
}
.h3-intro-about{
    padding-top: 100px;;
}
.intro{
    max-height: 464px;
    padding-bottom:0px;
    margin-bottom: 220px;
}

.content-1{
  background-color: black;
  padding: 10% 20px;

  display: flex;
  align-items: center;
  columns: row;
  
}

.content-1 p{
  color: white;
  font-family: 'Roboto', sans-serif;
  z-index: 5;
  max-width:90%; 
  margin:0 auto; 
  font-size: 30px;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: -0.03em
}
.content-2{
  padding-top: 50px;
  background-color: black;
  padding: 10% 20px;
  display: flex;
  columns: row;
  
}
.content-2-r, .content-2-l{
  width: 50%;
}
.content-2-l{
  padding-left: 30px;
}
.content-2 p, h3, h1, h2{
  color: white;
  font-family: 'Roboto', sans-serif;
}
.content-2 h3{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: -0.03em
}
.content-2 h2{
  padding-left: 50px;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: -0.03em
}
.ascent{
  color: greenyellow;
}

.pemisah-back{
  background-color: black;
  display: flex;
  justify-content: center;
}
.pemisah{
  background-color: #333;
  height: 1px;

  width: 90%;
}


