body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    width: 90%;
    gap: 40px;
}

.left {
    flex: 1;
}

.left h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.left h1 span {
    color: #47ff98;
}

.left p {
    margin: 20px 0 5px;
    font-weight: bold;
}

.left a {
    color: #47ff98;
    text-decoration: none;
}

.form-box {
    flex: 1;
    background-color: #111;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(71, 255, 152, 0.2);
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid #444;
    color: #fff;
    outline: none;
}

.form-check {
    margin-bottom: 10px;
    font-size: 0.85rem;
}

.form-check input {
    margin-right: 8px;
}

.btn-c {
    display: inline-block;
    padding: 12px 30px;
    border: none;
    background: #035828;
    color: #000;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.extra-links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.extra-links a {
    background: #222;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 0.85rem;
    transition: 0.3s;
}

.extra-links a:hover {
    background: #47ff98;
    color: #000;
}