 <nav class="navbar">
    <div class="logo" href="/comercial">
      <img src="/resources/assets/logo.png" class="logo-img" href="/comercial">
      <a class="logo-text" href="/comercial">Clarity Labs</a>
    </div>

    <div class="nav-links">
      <a href="/about">About</a>
      <a href="/service">Services</a>
      <a href="/contact">Contact us</a>
      <a href="/login" class="btn">Let's work</a>
    </div>
  </nav>