
@layout.app() 
@set('title', 'clarity labs')

<body>
   

    @slot('main')
      <main>
      <section class="mt-24 max-w-6xl mx-auto">
        
      </section>

      @include('pages/partials/card')
    </main>
    @endslot


@end